.select-search-Engine {
margin-top: -3px;
margin-right: -2px;
}
.select-search-Engine-container{
}
.select-search-Engine-box {
    padding: 12px 25px;
    background-color: aliceblue;
    border-radius: 5px;
    position: relative;
    transition: all .4s ease-in-out;
}

.select-search-Engine-box:hover {
    background-color: rgba(240, 248, 255, 0.808);

}

.fa-plus {
    font-size: 16px;
    transition: all .4s ease-in-out;
}

.search-Engine-options {
    font-size: 13px;
    border-radius: 50%;
    margin-top: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}

.search-Engine-options .option {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: goldenrod;
    transition: all .4s ease-in-out;

}

.search-Engine-options:hover .option {
    background-color: rgba(218, 165, 32, 0.767);

}

.select-search-Engine-container:hover .search-Engine-options {
    opacity: 1;
    visibility: visible;
}

.select-search-Engine-box:hover .fa-plus {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.search-Engine-options#option-2 {
    transition-delay: .1s;
}

.search-Engine-options#option-2 {
    transition-delay: .2s;
}

.search-Engine-options#option-3 {
    transition-delay: .3s;
}
