
.clock-container{
    display: flex;
padding: 20px;
justify-content: space-around;
}
.clock{
width: fit-content;
height: fit-content;
}
#clock {
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}
    .time {
        letter-spacing: 0.05em;
        font-size: 20px;
        padding: 5px 0;
    }

    .date {
        letter-spacing: 0.1em;
        font-size: 14px;
    }

    .text {
        letter-spacing: 0.1em;
        font-size: 12px;
        padding: 20px 0 0;
    }
