*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
width: 100vw;
height: 100vh;
overflow: hidden;
transition: cubic-bezier(1, 0.19, 0.39, 0.9);
-webkit-transition: cubic-bezier(1, 0.19, 0.39, 0.9);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


.main-section{
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.164);
display: flex;
flex-direction: row;
justify-content: space-between;
}
.left-section{
width: 22%;
display: flex;
flex-direction: column;
background-color: rgba(0, 0, 0, 0.034);

}
.left-top-section{
height: 25%;

}
.left-middle-section{
height: 50%;
border: 1px solid rgba(98, 92, 92, 0.466);
background-color: rgba(0, 0, 0, 0.294);
padding: 3px;

}
.left-bottom-section{
height: 25%;

}
.middle-section{
width: 56%;
}
.middle-top-section{
height: 35%;

}
.middle-center-section{
height: 55%;

}
.middle-bottom-section{
height: 15%;

}
.right-section{
width: 22%;
background-color: rgba(0, 0, 0, 0.034);

}
.right-top-section{
height: 25%;

}
.right-middle-section{
height: 50%;

}
.right-bottom-section{
height: 25%;

}

/*-------------------- scroll bar --------------------*/
/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(105, 105, 105);
    height: 20px;
    border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(133, 130, 130);
}
